@media screen and (max-width:768px) {
    [aria-controls="navbarDropdown"]{
        display: block;
    }
    
    [aria-expanded="false"] ~ ul{
        display: none;
    }
    [aria-expanded="false"] ~ ul li{
        display: none;
    }
    [aria-expaned="false"] ~ ul li a{
        display: none;
    }

    [aria-expanded="true"] ~ ul {
        display: flex;
        position: fixed;
        gap: 2rem;
        right: 5rem;
        top: 0rem;
        text-align: right;
    } 

    .nav{
        align-items: unset;
        width: 100%;
        height: 2rem;
        position: fixed;
        top: 0;
    }
    .title{
        margin-top: 4rem;
    }

}
@media screen and (max-width:562px) {
    .nav nav ul{
        gap: 1rem;
}
@media screen and (max-width:492px) {
     .nav{
        /* width: 5rem;
        height: 9rem; */
        position: fixed;
        top: 0;
        right: 0;
    }
    .nav nav ul{
        flex-direction: column;
        padding-left: 0;
        gap: .6rem;
        position: fixed;
        top: 2rem;
        right: 1rem;
        background-color: black;
    }

   
    [aria-controls="navbarDropdown"]{
        position: fixed;
        top: 0;
        right: 0;
}