:root{
    --dark-purple:rgba(13, 5, 54, 0.99);
    --whiteish:rgba(224, 222, 222, 0.9);

}

body{
    animation: color 20s ease infinite;
    margin:0 ;
}
h1,
h2,
h3,
h4,
p,
h4 a{color: var(--whiteish);}

* li{list-style: none;}

 .bouncy{transition: all 0.2s ease-in-out;}
 .bouncy:hover{
    transform:translateY(-10px) ;


 }

.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
.main-content h1{
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 3px;
}
.main-content h2{
    font-size:2rem;
    margin: 0 auto;
}
.nav{
    background-color: var(--dark-purple);
    padding: 1.5rem 0;
    width: 100%;
    align-items: left;
}
.nav nav ul{
    display: flex;
    gap: 3rem;
}
.nav nav ul li{
    list-style: none;
}
.nav a{
    color: var(--whiteish);
    text-decoration: none;
    font-size: 2rem;
}
.nav-toggler{
    display: block;
    position: absolute;
    right: 3rem;
    top: 1rem;
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
}
.nav-toggler span{
    color: var(--whiteish);
    font-size: 2rem;
    cursor: pointer;
    pointer-events: none;
}
[aria-controls="navbarDropdown"]{
    display: none;
}
#home .title{
    margin-left: auto;
    margin-right: auto;
}
.title h1{
    font-size: 2.5rem;
    font-weight: 300;
}
.title h2{font-size: 1.4rem;}
.title h1,
.title h2{
    background-color: var(--dark-purple);
    border-radius: 10px;
    padding: 1rem 4rem;
    margin-bottom: 1rem;
}

.introduction-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.introduction-wrapper .pic1{flex: 1;}
.introduction-wrapper h2{flex: 1;}
/* h1, h2, */
.introduction-wrapper,.portfolio-wrapper, .contact{
    background-color: var(--dark-purple);
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
}
.introduction-wrapper img{
    width: 70%;
}
#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding-bottom: 5rem;
}
.portfolio{
    width: 100%;
    padding-bottom: 2rem;
}

.portfolio-wrapper{
    width: 36%;
    height: 55vh;
}
.portfolio-wrapper img{
    width:100%;
}
.portfolio-wrapper h2{
    font-size: 3rem;
    margin-top: 2rem;
    text-decoration: underline
    ;
}
.portfolio-wrapper .portfolio h3{
    margin-top: 5rem;
}
.portfolio-wrapper h3{font-size: 1.8rem;}
.portfolio-wrapper h4,
.contact h4{
    font-size: 1.4rem;
    max-height: fit-content;
}
.contact-wrapper{ 
    margin-top: 2rem;
    display: flex;
    margin-bottom: 5rem;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact ul{line-height: 1.6;}
.contact h2{
    font-size: 3rem;
    font-weight: 400;
}
.rainbow1{color: red;}
.rainbow2{color: orange;}
.rainbow3{color: yellow;}
.rainbow4{color: greenyellow;}
.rainbow5{color: blue;}



.footer{
    background-color: var(--whiteish);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer ul{
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
}
.footer ul li{list-style: none;}
.footer ul li a{
    color: var(--dark-purple);
    text-decoration: none;
}

@keyframes color{
    0%{
        background: var(--dark-purple);
    }
    50%{
        background:var(--whiteish);
    }
    100%{
        background: var(--dark-purple);
    }
}