.main-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.part1{
    display: flex;
    flex-wrap: wrap;
}
.part1 .pic1{
    max-width: 26%;
}
.part1 .pic2{ max-width: 30%;}
.part1 .pic3{ max-width: 30%;}
.part1 .pic4{ max-width: 30%;}